@model CRP.Models.ViewModels.VehicleGroupViewModel
@{
    ViewBag.Title = "Thông tin nhóm giá";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10"><h2>Thông tin nhóm giá</h2></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
                        @Html.HiddenFor(q => q.ID, new { @id = "groupID" })
                        @Html.HiddenFor(q => q.WithDriverPriceGroupID, new { @id = "priceGroupID" })
                        @Html.HiddenFor(q => q.Name, new { @id = "groupNameD" })
                        @Html.HiddenFor(q => q.IsActive, new { @id = "isActive" })

            <div class="ibox-title">
                <div class="edit-control row">
                    <div class="col-md-2 text-center m-t">
                        <label>Tên nhóm <span style="color: red">*</span></label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(q => q.Name, new { @id = "groupName", @class = "form-control input-lg", @style = "color: #000;", required = true })
                    </div>
                </div>
                <div id="displayGroupName" class="display-control row">

                </div>
            </div>
            <div class="ibox-content">
                <div class="edit-control row form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Đặt cọc <span style="color: red">*</span></label>
                            <div class="input-group m-b boxForm text-center">
                                @Html.HiddenFor(q => q.PriceGroup.DepositPercentage, new { @id = "deposit" })
                                <input type="text" id="depositDisplay" class="form-control" required /><span class="input-group-addon">%</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Giá theo ngày <span style="color: red">*</span></label>
                            <div class="input-group m-b boxForm text-center">
                                @Html.TextBoxFor(q => q.PriceGroup.PerDayPrice, new { @id= "per-day-price", @class = "form-control", required = true }) <span class="input-group-addon">₫</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Kỳ hạn thuê tối đa</label>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group m-b boxForm text-center">
                                        @Html.TextBoxFor(q => q.PriceGroup.MaxRentalPeriod, new { @id = "max-rent", @type = "number", @class = "form-control", required = true }) <span class="input-group-addon">ngày</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <input type="checkbox" id="unlimitPeriod">
                                        <label for="unlimitPeriod"> Không giới hạn</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Số Km tối đa một ngày</label>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group m-b boxForm text-center">
                                        @Html.TextBoxFor(q => q.PriceGroup.MaxDistancePerDay, new { @id = "max-distance-day", @type = "number", @class = "form-control" }) <span class="input-group-addon">Km</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <input type="checkbox" id="unlimitKm">
                                        <label for="unlimitKm"> Không giới hạn</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Số tiền trả thêm</label>
                            <div class="input-group m-b boxForm text-center">
                                @Html.TextBoxFor(q => q.PriceGroup.ExtraChargePerKm, new { @id = "extra-charge-day", @type = "number", @class = "form-control", @placeholder = "Được áp dụng khi vượt số Km quy định" }) <span class="input-group-addon">&#8363;/Km</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-number plus-btn" data-type="plus">
                                    <i class="fa fa-plus"></i> Thêm hàng mới
                                </button>
                            </div>
                            <h2>Bảng giá theo giờ</h2>
                            <table class="table table-striped table-bordered table-hover " id="priceGroupItem"></table>
                        </div>
                    </div>
                </div>

                <div class="display-control row form-group">
                    <div class="col-md-6">
                        <div class="row m-b text-center">
                            <div class="col-md-4 text-right">
                                <label>Đặt cọc</label>
                            </div>
                            <div class="col-md-8 text-left">
                                @{ var displayDeposit = (Model.PriceGroup.DepositPercentage * 100).ToString("#"); }
                                @displayDeposit <span>%</span>
                            </div>
                        </div>

                        <div class="row m-b text-center">
                            <div class="col-md-4 text-right">
                                <label>Giá theo ngày</label>
                            </div>
                            <div class="col-md-8 text-left">
                                @Model.PriceGroup.PerDayPrice <span>₫</span>
                            </div>
                        </div>
                            
                        <div class="row m-b text-center">
                            <div class="col-md-4 text-right">
                                <label>Kỳ hạn thuê tối đa</label>
                            </div>
                            <div class="col-md-8 text-left">
                                @if (@Model.PriceGroup.MaxRentalPeriod != null)
                                {
                                    @Model.PriceGroup.MaxRentalPeriod <span>ngày</span>
                                }
                                else
                                {
                                    <text>Không giới hạn</text>
                                }
                                    
                            </div>
                        </div>

                        <div class="row m-b text-center">
                            <div class="col-md-4 text-right">
                                <label>Số Km tối đa một ngày</label>
                            </div>
                            <div class="col-md-8 text-left">
                                @if (@Model.PriceGroup.MaxDistancePerDay != null)
                                {
                                    @Model.PriceGroup.MaxDistancePerDay <span>Km</span>
                                }
                                else
                                {
                                    <text>Không giới hạn</text>
                                }
                            </div>
                        </div>
                           
                        <div class="row m-b text-center">
                            <div class="col-md-4 text-right">
                                <label>Số tiền trả thêm</label>
                            </div>
                            <div class="col-md-8 text-left">
                                @if (@Model.PriceGroup.ExtraChargePerKm != null)
                                {
                                    @Model.PriceGroup.ExtraChargePerKm <span>&#8363;/Km</span>
                                }
                                else
                                {
                                    <text>chưa có thông tin</text>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h2>Bảng giá theo giờ</h2>
                            <table class="table table-striped table-bordered table-hover " id="priceGroupItemD"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox-footer">
                <div>
                    <div class="btn-group">
                        <button id="activationBtn" class="btn btn-warning" data-toggle="modal" data-target="#customModal"></button>
                        <button id="deleteGroup" class="btn btn-danger" data-action="deleteVehicleGroup" data-toggle="modal" data-target="#customModal">Xóa nhóm</button>
                    </div>
                    <button id="saveChange" class="edit-control btn btn-primary pull-right">Lưu lại</button>
                    <button id="cancelChange" class="edit-control btn btn-default pull-right m-r-xs">Hủy bỏ</button>
                </div>
            </div>

        </div>
    </div>
    <div class="ibox ibox-content float-e-margins">
        <button id="listAdd" data-toggle="modal" data-target="#modalAdd" class="btn btn-success pull-right" style="margin-bottom: 1em;">
            <i class="fa fa-plus"></i> Thêm xe vào nhóm
        </button>
        <table class="table table-striped table-bordered table-hover" width="100%" id="vehicles">
        </table>
    </div>
</div>
<div class="modal fade" id="customModal" tabindex="-1" role="dialog"></div>


<style>
    .select2-dropdown {  
      z-index: 10060 !important;/*1051;*/
    }
</style>
<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm xe vào nhóm này</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <label>Vui lòng chọn xe</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(q => q.vehicleID, this.Model.listVehicle, new { @class = "form-control", @id = "drpVehicle" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btnAddVehicle" class="btn btn-primary" type="button">Thêm</button>
            </div>
        </div>

    </div>
</div>

<div id="changeGroup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đổi nhóm cho xe này</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <label>Vui lòng chọn nhóm</label>
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" id="v-id" />
                        @Html.DropDownListFor(q => q.otherGroupID, this.Model.listGroup, new { @class = "form-control", @id = "drpGroup" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btnChangeGroup" class="btn btn-primary" type="button">Đồng ý</button>
            </div>
        </div>

    </div>
</div>
<div id="deleteFromGroup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa xe khỏi nhóm này</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="v-id" />
                Bạn có chắc chắn xóa xe <span id="vehicle-name"></span> khỏi nhóm này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btnDeleteVehicleFromGroup" class="btn btn-primary" type="button">Đồng ý</button>
            </div>
        </div>

    </div>
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/VehicleGroupDetail")
                                          .Include("~/Content/awesome-bootstrap-checkbox.css",
                                              "~/Content/select2/select2.min.css",
                                              "~/Content/DataTables/css/dataTables.bootstrap.css",
                                              "~/Content/pageStyle/vehicleGroup.css"));
}
@section Styles {
    @Styles.Render("~/Styles/VehicleGroupDetail")
}
@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/VehicleGroupDetail")
                                           .Include("~/Scripts/select2/select2.full.min.js",
                                              "~/Scripts/DataTables/jquery.dataTables.js",
                                              "~/Scripts/DataTables/dataTables.bootstrap.js",
                                              "~/Scripts/utils/customModals.js",
                                              "~/Scripts/utils/generateUIElements.js",
                                              "~/Scripts/utils/generateCustomDataTablesFilters.js",
                                              "~/Scripts/pageScript/vehicleGroup.js"));
}
@section Scripts {
    @Scripts.Render("~/Scripts/VehicleGroupDetail")
}