@model CRP.Models.ChangePasswordViewModel
@{
	ViewBag.Title = "Change Password";
	Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<div id="wrapper">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Thay đổi mật khẩu</h2>
		</div>
		<div class="col-lg-2"> </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInLeft">
		<div class="ibox float-e-margins">

			<div class="ibox-content">
		   @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		   {
			@Html.AntiForgeryToken()
			@Html.ValidationSummary("", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Change password" class="btn btn-default" />
				</div>
			</div>
		   }
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		const STATUS_MESSAGE = '@Model.StatusMessage';

		if(STATUS_MESSAGE)
			toastr.error(STATUS_MESSAGE);
	</script>

	@Scripts.Render("~/bundles/jqueryval")
}