@model CRP.Models.ResetPasswordViewModel
@{
	ViewBag.Title = "Reset password";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
	<div style="background-color: hsla(122,43%,20%,.9); margin: 5em 0 10em 0; padding: 2em;">
		<p style="color:white; font-size: 2em;">Khôi phục mật khẩu</p>
		@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-warning" })
			@Html.HiddenFor(model => model.UserId)
			@Html.HiddenFor(model => model.Token)
			<div class="form-group">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu mới" })
				@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-warning" })
			</div>
			<div class="form-group">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Xác nhận mật khẩu mới" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-warning" })
			</div>
			<button type="submit" class="btn btn-primary block full-width m-b">Đổi mật khẩu</button>
		}
	</div>
</div>

@section PageStyle {
	<style>
		body{
			background-attachment: fixed;
			background-image: url('/Content/img/backgrounds/1.jpg');
			background-position: right top;
			background-size: cover;
			background-repeat: no-repeat;
		}
	</style>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
