@{
	ViewBag.Title = "Booking History";
	Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<h2>Lịch sử đặt xe</h2>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox ibox-content float-e-margins">
		<table class="table table-striped table-bordered table-hover " id="bookingHistory" width="100%">
		</table>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/BookingHistory")
		.Include("~/Content/awesome-bootstrap-checkbox.css",
			"~/Content/DataTables/css/dataTables.bootstrap.css",
			"~/Content/jquery-bar-rating/fontawesome-stars.css"
		));
}
@section Styles {
	@Styles.Render("~/Styles/BookingHistory")
}

@section PageStyle {
	@Styles.Render("~/Content/pageStyle/bookingHistory.css")
}

@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/BookingHistory")
		.Include("~/Scripts/DataTables/jquery.dataTables.js",
			"~/Scripts/DataTables/dataTables.bootstrap.js",
			"~/Scripts/jquery-bar-rating/jquery.barrating.min.js",
			"~/Scripts/utils/generateUIElements.js",
			"~/Scripts/pageScript/BookingHistory.js"));
}
@section Scripts {
	<script type="text/javascript">
		const GetBookingHistoryUrl = '@Url.RouteUrl("GetBookingHistoryAPI", new { controller = "Booking" })';
		const CommentUrl = '/api/bookings';
		const CancelUrl = '/api/bookings';
	</script>
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/BookingHistory")
}
